body {
    background-color: #ecf3f5;
}

#container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.judul {
    text-align: center;
}

.box {
    width: 95%;
    height: auto;
    border-radius: 8px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, [col] 25%);
    background-color: aqua;
    border-radius: 8px 8px 0px 0px;
    height: 40px;
    border: 1px solid black;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    grid-column: col / span 1;
}

.b {
    grid-column: col 2 / span 1;
}

.c {
    grid-column: col 3 / span 1;
}

.d {
    grid-column: col 4 / span 1;
}

a:focus {
    background-color: rgb(255, 255, 255);
}

.isi {
    grid-column: col / span 2;
    background-color: rgb(183, 242, 250);
    border-radius: 0px 0px 8px 8px;
}